@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
.loading {
  text-align: center;
  line-height: 100vh;
  color: #333;
  background-color: #eee;
}
